.swipper-item{
  position: relative;
  width: 400px;
  max-width: 100%;
  padding: 10px;
  height: 400px;
  overflow: hidden;
}
.swipper-item >img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 55;
}

.explore-info{
position: absolute;
right: 100%;
transition: .8s;
background-color: #23232b;
z-index: 555999;
color: black;
}
.explore-info img{
  z-index: 555;
}
.discover-info{
  display: flex;
  align-items: center;
  gap: 10px;
}
.image img{
  width: 100%;
}
.swipper-item:hover .explore-info{
  left: 30px;
}