*{
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}
.container{
  margin: 0 auto;
}
@media (min-width:565px) {
  .container{
    width: 540px;
  }
}
@media (min-width:767px) {
  .container{
    width: 750px;
  }
}
@media (min-width:992px) {
  .container{
    width: 960px;
  }
}
@media (min-width:1200px) {
  .container{
    width: 1160px;
  }
}
@media (min-width:1400px) {
  .container{
    width: 1360px;
  }
}
