.createnft{
  padding: 100px 50px;
  background-image: url("../../../images//banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.createnft::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7553fc9b;
  top: 0;
  left: 0%;
}
.createnft-container{
  position: relative;
  z-index: 55;
}
.createnft-container .head{
  position: relative;
  margin-bottom: 20px;
}
.createnft-container .head h2{
  color: white;
  font-size: 25px;
}
.createnft button{
  float: right;
  background-color: #7453fc;
  color: white;
  padding: 10px 20px ;
  border: none;
  border-radius: 20px;
  text-transform: capitalize;
  font-size: 20px;
}
.createnft-container .head::after{
  content: "";
  position: absolute;
  left: 0;
  top: -15px;
  background-color: white;
  height: 3px;
  width: 130px;
}
.createnft-container .createnft-content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.createnft-container .createnft-content .col{
  width: 450px;
  padding: 20px;
  color: white;
  position: relative;
}
.createnft-container .createnft-content .col .num{
  position: absolute;
  top: 4px;
  right: 17px;
}
.createnft-container .createnft-content .col .nft{
height: 180px;
position: relative;
}

.createnft-container .createnft-content .col .nft h3{
margin-bottom: 20px;
text-transform: capitalize;
}
.createnft-container .createnft-content .col .nft::after{
  content: "";
  position: absolute;
  right: 0%;
  top: 0%;
  height: 100%;
  background-color: white;
  width: 1.5px;
}
@media (max-width:767px) {
  .createnft{
    padding: 50px 0px;
  }
}